.grid-container {
    display: grid;
    grid-template-areas:
     'nd nd nd nd nd nd nd nd'
     'cd cd cd cd cd cd cd Cd'
     'vd vd vd vd vd vd vd vd'
     'sd sd sd sd sd sd sd sd'
     'fd fd fd fd fd fd fd fd'
    ;
}
#navbarDiv{
grid-area:nd;
}
#courseDiv{
grid-area:cd;
}
#hobbiesDiv{
grid-area:hd;
}
#videoDiv{
grid-area:vd;
}
#someDiv{
grid-area:sd;

}
#footerDiv{
grid-area:fd;

}

